.link {
  stroke: #444444;
  stroke-width: 3px;
}

.node {
  cursor: move;
}

.node-container {
  fill: #6ff2e2;
  stroke: #6ff2e2;
  stroke-width: 1.5px;
}

.node-text {
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  font-size: 18px
}

h1 {
  font-size: 36pt;
  font-family: 'Helvetica', serif;
  text-align: center;
  color: #2d5ca8;
}

h2 {
  font-size: 20pt;
  font-family: 'Helvetica', serif;
  text-align: center;
  padding-bottom: 15px;
  color: #2d5ca8;
}

input {
  text-align: center;
  line-height: 28px;
  font-family: 'Helvetica', serif;
  font-size: 16pt;
  margin-left: 20px;
  margin-right: 20px;
}

form {
  text-align: center;
}