.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
}

.node-container {
  fill: gray;
  stroke: #000;
  stroke-width: 1.5px;
}

.node-text {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 18px
}


h1 {
  font-size: 36pt;
  font-family: 'Helvetica', serif;
  text-align: center;
  padding-bottom: 36px;
}

h2 {
  font-size: 20pt;
  font-family: 'Helvetica', serif;
  text-align: center;
  padding-bottom: 15px;
}

input {
  text-align: center;
  line-height: 25px;
  font-family: 'Helvetica', serif;
  font-size: 16pt;
}

#add {
  font-size: 16pt;
}

form {
  padding-left: 200px;
}